db
greybox_tmp
incremental_db
output_files
simulation
hc_output
scaler
hps_isw_handoff
vip
*_sim
.qsys_edit
PLLJ_PLLSPE_INFO.txt
*.bak
*.orig
*.rej
*.qdf
*.rpt
*.smsg
*.summary
*.done
*.jdi
*.pin
*.sof
*.qws
*.ppf
*.ddb
build_id.v
c5_pin_model_dump.txt
*.sopcinfo
*.csv
*.f
*.cmp
*.sip
*.spd
*.bsf
*~
*.xml
*_netlist
*.cdf

# Local simulator/build artifacts
*.o
work-obj*.cf
/err
/verilator/.DS_Store
/verilator/imgui.ini
/verilator/obj_dir/
/verilator/*.hdv
/verilator/*.image
/verilator/*.zip
/verilator/__MACOSX/
/verilator/rescue/._*
/verilator/rescue/
/verilator/rtl/
/verilator/chr.mem
/verilator/rom1.mem
/verilator/rom2.mem
/verilator/config.c
/verilator/config.h
/verilator/dirent.h
/verilator/glog.h
/verilator/imagewriter.h
/verilator/iwm.cpp
/verilator/iwm.h
/verilator/iwm_35_525.h
/verilator/protos.h
/verilator/sim.sln
/verilator/sim.vcxproj
/verilator/sim.vcxproj.filters
/verilator/sim.vcxproj.user
/verilator/verilate.sh

# dev workspace (not part of the core)
references/
Apple-Lisa_MiSTer/
